.row-fluid-wrapper {
  margin: 50px 0;
}

.row-fluid {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  border: 1px solid #d9dbde;
}

img {
  width: 100%;
  height: auto;
}

/* Single Post Head */

.post_head_box {
  display: flex;
  align-items: center;
  gap: 35px;
}

.post_head_left {
  width: 50%;
}

.post_head_right {
  width: 50%;
}

.sm-post {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--primary_btn-color) !important;
}

.single_post_info {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  align-items: center;
}

.post_logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post_logo_img {
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid #1e493f;
  border-radius: 50%;
}

.post_logo_img img {
  border-radius: 50%;
}

/* Single Post */

.refference {
  color: var(--primary_btn-color);
  font-family: "Arboria-Book";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
}

.Ques1,
.Ques2,
.Ques3,
.Ques4,
.Ques5 {
  margin-top: 65px;
}

.single_post {
  display: flex;
  gap: 46px;
}

.single_post_main {
  max-width: 745px;
}

.newsletter {
  border: 1px solid #dee2ea;
  background: #f0ece8;
  border-radius: 16px;
}

.newsletter-body {
  padding: 40px;
}

.newsletter-email {
  margin-top: 30px;
}

.news-sm {
  color: var(--heading-color2);
}

.w-100 {
  width: 100%;
}

.related_posts {
  margin-top: 47px;
}

.posts_div {
  margin-top: 10px;
}

.related_post {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  gap: 10px;
}

.related_post img {
  width: 115px;
  height: 100%;
}

.text-justify {
  text-align: justify;
  margin-top: 10px;
}

.footer .row-fluid-wrapper{
  margin: 0;
}





@media (max-width: 768px) {
  .row-fluid-wrapper {
    padding: 0;
    margin: 30px 0;
  }

  h1 {
    font-size: 40px;
    line-height: 36px;
  }

  h3 {
    margin: 0;
    font-size: 26px;
    line-height: 30px;
  }

  .primary_btn {
    width: 100%;
  }

  .post_head_box {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .post_logo_img {
    width: 30px;
    height: 30px;
  }

  .post_head_left,
  .post_head_right {
    width: 100%;
  }

  .single_post {
    flex-direction: column;
  }

  .Ques1,
  .Ques2,
  .Ques3,
  .Ques4,
  .Ques5 {
    margin-top: 36px;
  }

  .related_post {
    flex-direction: column;
    margin-top: 25px;
  }

  .related_post img {
    width: 100%;
  }

  .reviews {
    padding: 8px 0px;
}

  .projects .row-fluid-wrapper{
    padding: 30px 0;
  }

  .footer-contact{
    padding: 30px 0;
  }

  .footer-contact div img{
    width: auto;
  }

  .footer-content{
      padding-top: 40px;
      padding-bottom: 40px;
  }
  }

@media (min-width: 769px) and (max-width: 999px) {
  p {
    font-size: 18px;
    line-height: 20px;
  }

  h2 {
    font-size: 40px;
    line-height: 46px;
  }

  h3 {
    font-size: 32px;
    line-height: 40px;
  }

  .single_post {
    flex-direction: column;
  }

  .Ques1,
  .Ques2,
  .Ques3,
  .Ques4,
  .Ques5 {
    margin-top: 36px;
  }

  .related_post {
    flex-direction: column;
    margin-top: 30px;
  }

  .related_post img {
    width: 100%;
  }

  .reviews {
    padding: 0px;
}
}
